*{
    box-sizing: border-box;
  }
  
  html {
    font-size: 16px;
  }
  
  @media (max-width: 100px) {
    html {
      font-size: 14px;
    }
  }
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f9f4;
    color: #2e3d29;
    max-width: 100vw;
    overflow-x: hidden;
  }
  img{
    max-width: 100%;
    height: auto;
    display: block;
  }
  .container {
    max-width: 800px;
    margin: auto;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    color: #1a472a;
    text-align: center;
    font-size: 2.2rem;
    margin-bottom: 20px;
  }
  
  h2 {
    margin-top: 30px;
    color: #2c5f2d;
    font-size: 2rem;
    text-decoration: underline;
    text-decoration-thickness:.1rem;
    text-decoration-color: black;
  }
  
  ul {
    padding-left: 20px;
  }
  
  ul li {
    margin-bottom: 10px;
  }
  
  footer {
    margin-top: 40px;
    text-align: center;
  }
  
  a {
    color: #117a42;
    font-weight: bold;
    text-decoration: underline;
  }
  footer{
    margin-top: 40px;
    text-align: center;
    font-size: 0.9rem;
    background-color: #555;
    color: white;
    border-radius: 5px;
  }